.header {
  min-width: 960px;
  height: 58px;
  background-color: #1369bf;
  color: #ffffff;
}
.header .nav {
  margin: 0 auto;
  width: 960px;
  display: flex;
  height: 58px;
  justify-content: space-between;
  align-items: center;
}
.header .nav .logo img {
  height: 25px;
  width: auto;
}
.header .nav .navList {
  display: flex;
  font-size: 18px;
}
.header .nav .navList .navItem {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.header .nav .navList .navItem:focus {
  outline: none;
}
.header .nav .navList .navItem.router-link-active {
  border-bottom: 2px solid #ffffff;
}
.header .nav .search {
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  background-color: #ffffff;
  border: none;
  outline: none;
  display: flex;
}
.header .nav .search input {
  width: 270px;
  border: none;
  outline: none;
}
.header .nav .search .searchIcon {
  width: 30px;
  height: 30px;
  background-image: url(../assets/image/搜索--1.png);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
